@import "tailwindcss";

@theme {
  --color-primary: #6e3dff;
  --color-background-light: #f6f5f8;
  --color-background-dark: #0f0f1a;

  --font-display: "Public Sans", sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

:root {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background-dark);
  font-family: var(--font-display);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
